
.layout {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to bottom, #295cdc, #30CFD0);
  overflow: hidden; 
}

.main {
  flex: 1;
  padding: 20px;
  height: 100vh;         
  overflow-y: auto;      
  overflow-x: hidden;  
 } 

.placeholder {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  text-align: center;
  font-weight: 500;
  color: #666;
}
.main::-webkit-scrollbar {
  width: 8px;
  background-color: white; /* الخلفية */
}

.main::-webkit-scrollbar-thumb {
  background: blue; /* اللون الأزرق */
  border-radius: 4px;
}